<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pathology</title>
    <script src="../openseadragon/openseadragon.min.js"></script>
    <script src="../annotations/openseadragon-annotorious.min.js"></script>
 <link rel="stylesheet" href="../annotations/annotorious.min.css"> 
 
  </head>
  <body>
      <div id="toolbar-container"></div>
    <div id="openseadragon" style="width: 800px; height: 600px;"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-toolbar@latest/dist/annotorious-toolbar.min.js"></script>
    <script src="./view.js"></script>
  </body>
</html>

